:root {
  --primary-background-color: #fff; //фон
  --accent-color-grean: #24CCA7;
  --accent-color-red: #FF6596;
  --accent-color-blue: #4A56E2;
  --primary-text-color: #000;
  --secondary-text-color: #fff;
  --disabled-grey-text-color: #e0e0e0;
  --err-text-color: #ff001b;
  
}