.HomeTab {
  width: 100%;
  @media screen and (min-width: 768px) {
    margin-top: 76px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 46px;
    margin-left: 30px;
  }
}

.HomeTab-secondary {
  display: none;
  border-spacing: 0px;
  width: 700px;
  table-layout: fixed;
  @media screen and (min-width: 768px) {
    display: table;
  }
}

.HomeTab-mobile {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 27px;
  display: table;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.HomeTab-column-header {
  font-family: Circe;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  // text-align: left;
}

.HomeTab-column {
  font-family: Circe;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  word-wrap: break-word;
}
// .HomeTab-column td {
//   word-wrap: break-word;
// }
.HomeTab td {
  border-bottom: 1px solid #dcdcdf;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  padding: 0.5rem;
  border-right: 1px solid #dcdcdf;
}

.HomeTab th:last-child,
td:last-child {
  border-right: 0;
}
.HomeTab-secondary td,
.HomeTab-column th,
.HomeTab-columns td {
  table-layout: fixed;
  width: 114.66 px;
  overflow: hidden;
  word-wrap: break-word;

  padding: 10px;
  text-align: center;
  @media screen and (min-width: 768px) {
    width: 116.1 px;
  }
}

.HomeTab__header th:first-child {
  background: #ffffff;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.HomeTab__header th:last-child {
  background: #ffffff;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.HomeTab__header th {
  padding: 10px;
  text-align: center;
}
.HomeTab__header th:not(:first-child) {
  background: #ffffff;
}

// .HomeTab-mobile_table::before {
//   @media screen and (max-width: 767px) {
//     content: "";
//     position: absolute;
//     width: 5px;
//     height: 282px;

//     right: 0;
//     left: 0;
//     background-color: aqua;
//     border-radius: 10px;
//   }
// }
.HomeTab-mobile_table {
  background: #ffffff;
  opacity: 0.8;
  border-radius: 10px;
  border-left: 5px solid #ff6596;
  margin-bottom: 10px;
  // width: 280px;
  // table-layout: fixed;
}
// .color {
//   border-left: 5px solid #24cca7;
// }
// .green {
//   color: #24cca7;
// }
.pink {
  color: #ff6596;
}
