@import "../../common/utils/breakpoints";

.HomeTab {
  width: 100%;
  margin-top: 27px;

  @media screen and (min-width: $TabletWidth) {
    margin-top: 76px;
  }
  @media screen and (min-width: $DesktopWidth) {
    margin-top: 46px;
    margin-left: 30px;
  }
}

.HomeTab-secondary {
  display: none;
  border-spacing: 0px;
  width: 688px;
  table-layout: fixed;
  @media screen and (min-width: $TabletWidth) {
    display: table;
  }
}

.HomeTab-mobile {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: table;
  width: 280px;
  table-layout: fixed;
  @media screen and (min-width: $TabletWidth) {
    display: none;
  }
}

.HomeTab-column-header {
  font-family: Circe;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;

  @media screen and (max-width: $MaxMobileWidth) {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.HomeTab td {
  border-bottom: 1px solid #dcdcdf;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}

.HomeTab th:last-child,
td:last-child {
  border-right: 0;
}
.HomeTab-row {
  width: 280px;
  table-layout: fixed;
  margin-top: 0px;
}
.HomeTab-secondary td,
.HomeTab-column th,
.HomeTab-columns td {
  table-layout: fixed;
  width: 114.66 px;
  overflow: hidden;
  word-wrap: break-word;

  padding: 10px;
  text-align: center;
  @media screen and (max-width: $MaxMobileWidth) {
    width: 50%;
  }
}
.HomeTab-secondary td:nth-child(3) {
  text-align: left;
}
.HomeTab-secondary th:nth-child(3) {
  text-align: left;
}
.HomeTab-secondary td:nth-child(4) {
  text-align: left;
}

.HomeTab-secondary td:nth-child(5) {
  text-align: right;
}
.HomeTab-secondary td:nth-child(6) {
  text-align: right;
  padding-right: 20px;
}
.HomeTab-secondary th:nth-child(5) {
  text-align: right;
}
.HomeTab-secondary th:nth-child(6) {
  text-align: right;
  padding-right: 20px;
}
.HomeTab__header th:first-child {
  background: #ffffff;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.HomeTab__header th:last-child {
  background: #ffffff;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.HomeTab__header th {
  padding: 10px;
  text-align: center;
}
.HomeTab__header th:not(:first-child) {
  background: #ffffff;
}

.HomeTab-mobile_table {
  background: #ffffff;
  opacity: 0.8;
  border-radius: 10px;
  margin-bottom: 10px;
  table-layout: fixed;
  width: 280px;
  word-wrap: break-word;
  &.red {
    border-left: 5px solid #ff6596;
  }
  &.green {
    border-left: 5px solid #24cca7;
  }
}
.HomeTab-mobile table:first-child {
  margin-right: 20px;
}
.HomeTab-column {
  font-family: Circe;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  word-wrap: break-word;
  color: #000;
  @media screen and (max-width: $MaxMobileWidth) {
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &.red {
    color: #ff6596;
  }
  &.green {
    color: #24cca7;
  }
}
.Home-color :not(:nth-child(5)) {
  color: #000;
}
