.Table__home-secondary {
  display: none;
  flex-direction: column;
  background: #e40b0b;
  // border-radius: 30px;

  @media screen and (min-width: 768px) {
    display: table-header-group;
  }
}
.Table__home-head-secondary {
  background: #ffffff;
  border-radius: 50px;
}
.Table__home-first {
  display: table-row;
  width: 280px;
  height: 282px;
  margin-left: 20px;
  margin-top: 234px;
  background: #ffffff;
  opacity: 0.5;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
table {
  border: 1px solid #dcdcdf;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}

// th {
//   @media screen and (max-width: 767px) {
//     transform: rotate(-90deg);
//   }
// }
tr:last-child td {
  border-bottom: 0;
  padding: 0.5rem;
}

th,
td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid #dcdcdf;
  border-right: 1px solid #dcdcdf;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}

th:last-child,
td:last-child {
  border-right: 0;
}

// .container {
//   padding-top: 25px;
//   display: flex;
//   justify-content: center;
// }
