.Table__head-first {
  display: none;
  @media screen and (min-width: 768px) {
    display: table-header-group;
  }
}
.Table__head-secondary {
  display: table-row;
  flex-direction: row;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
