@import "../../common/main.scss";

.form {
  @media screen and (min-width: $MobileWidth) {
    width: 320px;
    height: auto;
    padding-top: 110px;
    padding-bottom: 110px;
    margin: 0 auto;
  }
  @media screen and (min-width: $MaxMobileWidth) {
    position: absolute;
    bottom: 110px;
    right: 50%;
    transform: translate(50%);
    width: 540px;
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 60px;
    margin: auto;
  }
  @media screen and (min-width: $DesktopWidth) {
    bottom: 50%;
    right: 85px;
    transform: translateY(50%);
    margin: 0;
  }

  background-color: var(--primary-background-color);
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
}

.logo_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.container_google {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 15px;
}

.text {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;

  font-family: "Circe";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  color: var(--placeholder-text);
  text-align: center;
}

.loggedIn {
  text-align: center;
  font-family: "Circe";
  font-weight: 800;
  font-size: 22px;
  line-height: 30px;
  color: var(--accent-color-blue);
}

.container_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding-left: 12.5px;
  padding-right: 12.5px;

  @media screen and (min-width: $MaxMobileWidth) {
    padding-left: 45px;
    padding-right: 45px;
  }
}

.form-field {
  position: relative;
  margin-bottom: 40px;
}

.input {
  border: none;
  outline-style: none;
  padding-left: 25px;
  width: 250px;
  height: 35px;

  font-family: "Circe";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  @media screen and (min-width: $TabletWidth) {
    width: 409px;
  }
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  transform: translateY(-40px);
}

.button_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
