@import "../../common/main.scss";


.nav_container {
  padding-top: 10px;
  padding: 8px 30px;

  @media screen and (min-width: $DesktopWidth) {
   padding-top:  20px;
  }
}
.nav_list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0;
  width: 100%;

  @media screen and (min-width: $TabletWidth) and (max-width: $DesktopWidth)  {
    display: block;  
    padding: 0;
    // margin-bottom: 20px;
    }
  
    @media screen  and (min-width: $DesktopWidth) {
      display: block;  
      margin-bottom: 30px;
  
    }
    }

.nav_list li {
  width: 33.33333%;
  height: 100%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  @media screen  and (min-width: $MaxMobileWidth) {
     &:not(:last-child) {
      margin-bottom: 10px;
    }
}
}

.nav_link {
  width: 100%;
  display: flex;
  align-items: center;

  @media screen  and (max-width: $MaxMobileWidth) {
     justify-content: center;
}
}

.nav_link_active .nav_img {
    pointer-events: none;
    fill: #ffffff;
    background-color: #fff;
    filter: drop-shadow(0px 3px 10px rgba(74, 86, 226, 0.5));
  }

.nav_img {
  height: 44px;
  width: 44px;

  // &:hover {
  //   fill: #ffffff;
  // }
  @media screen  and (min-width: $MaxMobileWidth) {
    height: 24px;
    width: 24px;
    margin-right: 25px;
}
}

.nav_text {
  display: block;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000000;

  @media screen  and (max-width: $MaxMobileWidth) {
  display: none;
}
}

.nav_link_active .nav_text {
  font-weight: 700;
}


.nav_link_currency {
  @media screen  and (min-width: $MaxMobileWidth) {
    display: none;
  }
}

