@import "../../common/utils/breakpoints.scss";

.pieHeader {
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  @media screen and (min-width: $DesktopWidth) {
    margin-left: 30px;
  }
}

.statsSheet {
  @media screen and (min-width: $MobileWidth) {
    /* display: flex; */
    /* width: 730 px; */
    padding-top: 40px;
  }

  @media screen and (min-width: $TabletWidth) {
    display: flex;
    /* width: 730 px; */
    padding-top: 40px;
  }
  @media screen and (min-width: $DesktopWidth) {
    padding-top: 30px;
  }
}
.columnStatsStyle {
  margin: 0;
  text-align: left;
  justify-content: start;
  padding: 0.5rem;
  border-bottom: 1px solid #dcdcdf;
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.6);
  height: 53px;
}
.tableStyle {
  border-spacing: 0;
  border-bottom: 1px solid #dcdcdf;
  width: 350px;
  @media screen and (max-width: $MaxMobileWidth) {
    width: 280px;
  }
}
.tableFooter .columnFooterStatsStyle {
  border-bottom: none;
  box-shadow: none;
  padding-left: 30px;
  font-family: Circe;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
}
.tableFooter .tableFooterCash:last-child .cash:last-child {
  color: var(--accent-color-grean);
  padding-right: 30px;
  @media screen and (max-width: $MaxMobileWidth) {
    padding-right: 10px;
  }
}
.cash {
  color: var(--accent-color-red);
  padding-right: 30px;
  text-align: right;
  @media screen and (max-width: $MaxMobileWidth) {
    padding-right: 10px;
  }
}
.bodyStatsStyle .trStatsStyle .columnStatsStyle:last-child {
  text-align: right;
  padding-right: 30px;
  @media screen and (max-width: $MaxMobileWidth) {
    padding-right: 10px;
  }
}
.columnStatsStyle {
  padding-top: 9px;
  padding-bottom: 9px;
  @media screen and (min-width: $TabletWidth) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.columnFooterStatsStyle:first-child {
  padding-top: 15px;
}
.rectangle {
  float: left;
  /* display: inline-flex; */
  margin-right: 16px;
  margin-left: 20px;
}
.columnStatsStyle:nth-child(even) span {
  display: none;
}

.tableHeaderStyle .tableHeader {
  height: 58px;
  background-color: var(--secondary-text-color);
}
.tableFooter .tableFooterCash {
  height: 39px;
}

.tableHeader .rowStatsStyle:not(:last-child) {
  background-color: var(--secondary-text-color);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  text-align: left;
  padding-left: 30px;
}
.tableHeader .rowStatsStyle:last-child {
  background-color: var(--secondary-text-color);
  width: 100px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  text-align: right;
  padding-right: 30px;
}
.dateFilter {
  display: flex;
  justify-content: flex-start;

  @media screen and (max-width: $MaxMobileWidth) {
    display: block;
  }
}
.table {
  /*  @media screen and (min-width: $MobileWidth) {
  } */
  @media screen and (min-width: $TabletWidth) {
    width: 350px;
    margin-top: 95px;
    margin-left: 35px;
  }
  @media screen and (min-width: $DesktopWidth) {
    margin-left: 40px;
  }
}
.dateInput {
  display: block;
  width: 166px;
  height: 50px;
  border: 1px solid var(--primary-text-color);
  box-sizing: border-box;
  border-radius: 30px;
  font-size: 16px;
  font-family: Circe;
  padding-left: 21px;
  margin-bottom: 20px;
  margin-right: 19px;
  cursor: pointer;
  @media screen and (max-width: $MaxMobileWidth) {
    width: 280px;
  }
}
.dateInput:hover,
.dateInput:focus {
  border: 1px solid #24cca7;
}
.dateInput::placeholder {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-text-color);
}
.react-datepicker-wrapper:last-child {
  margin-right: 0px;
}
.dateInput:last-child {
  margin-right: 0px;
}
.arrow {
  background-image: url(../../images/svg/arrow.svg);
  display: block;
  content: '';
  contain: content;
  background-position: 90% 50%;
  background-repeat: no-repeat;
}

.pieStyle {
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;

  width: 320px;
  height: 320px;
  @media screen and (max-width: $MaxMobileWidth) {
    width: 280px;
    height: 280px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}
