@import '../../common/main.scss';

.no-scroll {
  overflow: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  align-items: center;
  justify-content: center;

  background-color: var(--modal-background);
  z-index: 9999;

  @media screen and (max-width: $MaxMobileWidth) {
    background: transparent;
    align-items: flex-start;
    justify-content: stretch;
  }
}

.modal-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  padding: 40px 80px 60px;
  max-width: 540px;

  background-color: var(--primary-background-color);
  border: none;
  border-radius: 20px;

  @media screen and (max-width: $MaxMobileWidth) {
    margin-top: 60px;
    min-height: calc(100vh - 55px);
    padding: 20px 11px 40px;
    border-radius: 0;
    max-width: 100%;
  }
}

.modal-title {
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
}

.checkBox {
  display: flex;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;

  &-option {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    color: var(--disabled-grey-text-color);
    font-family: Circe, sans-serif;
  }
}

.switch {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  .back {
    position: relative;
    width: 80px;
    height: 40px;
    border-radius: 30px;
    background-color: var(--primary-background-color);
    border: 1px solid var(--disabled-grey-text-color);
    opacity: 1;

    transition: background-color 200ms ease-in-out;

    .indicator {
      position: absolute;
      top: -2px;
      left: -1px;
      width: 44px;
      height: 44px;
      background-color: var(--accent-color-grean);
      border-radius: 22px;
      transition: left 250ms ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);

      & > svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  & > input {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;

    &:checked {
      & ~ .back {
        background-color: rgba(var(--primary-background-color), 0.1);

        .indicator {
          left: 37px;

          background-color: var(--accent-color-red);
          box-shadow: 0px 6px 15px rgba(255, 101, 150, 0.5);

          .vertical {
            display: none;
          }
        }
      }
    }
  }
}

.money-date-container {
  display: flex;
  gap: 30px;
  margin-top: 40px;
  margin-bottom: 40px;

  @media screen and (max-width: $MaxMobileWidth) {
    flex-direction: column;
    gap: 40px;
  }
}

.modal-input {
  margin: 0;
  height: 34px;
  width: 100%;
  padding-left: 20px;
  padding-bottom: 10px;
  outline: none;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid var(--disabled-grey-text-color);

  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--primary-text-color);
  font-family: Circe, sans-serif;
}

.money-input {
  padding-left: 0;
  text-align: center;

  &::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
  }
}

.datepicker-container {
  position: relative;

  .date-input {
    outline-offset: 0;
  }
  .dateRange-Icon {
    position: absolute;
    right: 20px;
    bottom: 10px;
  }
}

.description-input {
  margin-bottom: 50px;
  resize: none;
  overflow: hidden;
  max-lines: 1;
  outline-offset: 0;

  &::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: var(--placeholder-text);
    font-family: Circe, sans-serif;
  }

  @media screen and (max-width: $MaxMobileWidth) {
    max-lines: 2;
    height: 74px;
  }
}

.btn-open {
  position: absolute;
  right: 6%;
  bottom: 40px;
  width: 44px;
  height: 44px;
  background-color: var(--accent-color-grean);
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);

  & > svg {
    width: 20px;
    height: 20px;
  }

  @media screen and (min-width: $TabletWidth) and (max-width: $DesktopWidth) {
    position: absolute;
    right: 40px;
  }

  @media screen and (max-width: $MaxMobileWidth) {
    position: fixed;
    right: 30px;
    bottom: 30px;
  }
}

.btn {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 50px;
  background: var(--primary-background-color);
  border: 1px solid var(--accent-color-blue);
  border-radius: 20px;

  .btn-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--accent-color-blue);
    font-family: Circe, sans-serif;
  }

  &:hover,
  &:focus {
    background: var(--accent-color-grean);
    border: 1px solid var(--accent-color-grean);

    .btn-text {
      color: var(--secondary-text-color);
    }
  }
}

.btn-add {
  margin-bottom: 20px;
  background: var(--accent-color-grean);
  border: 1px solid var(--accent-color-grean);

  .btn-text {
    color: var(--secondary-text-color);
  }

  &:hover,
  &:focus {
    background: var(--secondary-text-color);
    border: 1px solid var(--accent-color-blue);

    .btn-text {
      color: var(--accent-color-blue);
    }
  }
}

.btn-cross {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;

  & > svg {
    width: 16px;
    height: 16px;
  }
  @media screen and (max-width: $MaxMobileWidth) {
    display: none;
  }
}

.input-select-container {
  position: relative;
}

.required-hack-input {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
}

.active-green {
  color: var(--accent-color-grean);
}

.active-pink {
  color: var(--accent-color-red);
}
