body {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  background-color: var(--primary-background-color);
}


@font-face {
font-family: "circe";   
src: url("../../assets/fonts/circe/circe_bold.eot"); 
src: url("../../assets/fonts/circe/Circe_Bold.woff") format("woff"); 
src: url("../../assets/fonts/circe/circe_bold.ttf") format("truetype"); 
src: url("../../assets/fonts/circe/Circe-Regular.woff") format("woff"); 
font-style: normal; 
font-weight: normal; 
}

@font-face {
font-family: "Poppins";   
src: url("../../assets/fonts/Poppins/Poppins_Bold.eot"); 
src: url("../../assets/fonts/Poppins/Poppins_Bold.woff") format("woff"); 
src: url("../../assets/fonts/Poppins/Poppins_Bold.ttf") format("truetype"); 
src: url("../../assets/fonts/Poppins/Poppins_Regular.eot"); 
src: url("../../assets/fonts/Poppins/Poppins_Regular.woff") format("woff"); 
src: url("../../assets/fonts/Poppins/Poppins_Regular.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}

h1,
h2,
h3,
h4 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
}

button {
  text-decoration: none;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  border: none;
  background: none;
}

p {
  margin: 0px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px;
  @media screen and (min-width: $MobileWidth) {
    width: $MobileWidth;
  }
  @media screen and (min-width: $TabletWidth) {
    padding: 0px 70px;
    width: $TabletWidth;
  }
  @media screen and (min-width: $DesktopWidth) {
    width: $DesktopWidth;
  }
}

.visually-hiden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  display: none;
}

.is-hidden {
  display: none;
}
img {
  opacity: 1;
  transition: opacity 0.3s;
}

img[data-src] {
  opacity: 0;
}