@import "../../common/main.scss";



// .currency_body {

//   background-image: url('../../images/svg/wave.svg'); 
//   background: linear-gradient(
//     180deg,
//     rgba(255, 255, 255, 0.2) -8.67%,
//     rgba(255, 255, 255, 0) 116.22%
//   );
//   @media screen and (min-width: $DesktopWidth) {
//       background: linear-gradient(
//         180deg,
//         rgba(255, 255, 255, 0.2) -7.46%,
//         rgba(255, 255, 255, 0) 100%
//       );
//     }
// }


@media screen and (min-width: $DesktopWidth) {
  .currency_sidebar {
    width: 348px;
  }
}
@media screen and (min-width: $TabletWidth) and (max-width: $DesktopWidth) {
  .currency_sidebar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .currency_body {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) -7.46%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}