@import "../../common/main.scss";


@media screen and (max-width: $MaxMobileWidth) {
  .currency_sidebar {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
}

@media screen and (min-width: $TabletWidth) and (max-width: $DesktopWidth) {
    .currency_sidebar {
      margin-bottom: 0px;
    }
  }
  
  @media screen and (min-width: $TabletWidth) {
    .currency_sidebar {
      display: flex;
      margin-bottom: 20px;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
    }
  }
  
  @media screen and (min-width: $DesktopWidth) {
    .currency_sidebar {
      flex-direction: column;
      justify-content: flex-start;
      padding: 0px 70px 0px 0px;
    }
  }