.container {
    min-width: 280px;
    max-width: 350px;
    margin-bottom: 30px;
    padding: 8px 40px;
    background-color: #4682B4;
    // background-color: var(--primary-background-color);
    border-radius: 30px;
}

@media screen and (max-width: 1280px) {
.container {
    margin-bottom: 0px;
}
.title {
    font-family: Circe, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    text-transform: uppercase;
    color: #A6A6A6;
}
.balance {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    margin: 0;
    align-items: center;
    color: #000000;
}
}

@media screen and (max-width: 767px) {
.container {   
    padding: 8px 30px;
}
}

