:root {
  --primary-background-color: #fff; //фон
  --secondary-background-color: #e7eaf2;
  --accent-color-grean: #24cca7;
  --accent-color-red: #ff6596;
  --accent-color-blue: #4a56e2;
  --primary-text-color: #000;
  --secondary-text-color: #fff;
  --disabled-grey-text-color: #e0e0e0;
  --err-text-color: #ff001b;
  --modal-background: rgba(0, 0, 0, 0.25);
  --placeholder-text: #bdbdbd;
}
